<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to the quiz app</h1>
    <p class="col-md-8 fs-4">This quiz contains a total of 9 questions. Each question holds 10 points</p>
    <h4>Rules</h4>
    <ol>
        <li>Correct question gives you  10 points</li>
        <li>Incorrct question gives you -10 points</li>
        <li>You will have 60 secs to answer a questions</li>
        <li>Refreshing the page restarts the quiz</li>
    </ol>
    <h1 style="font-family: cursive; text-align: center;">All The Best!!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name:</label>
        <!-- #name is the template ref variable which can now be accessed in the welcome.ts file -->
        <input #name type="text" class="form-control">
    </div>
    <!-- routerLink takes the router path we want the user to be redirected to upon clicking the button -->
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz</button>

</div>

